<!DOCTYPE html>
<html lang="en">
<!-- HEAD-->
<%- include("../partials/head.ejs") %>

  <body>
    <!-- dashboard admin -->
    <%- include("../partials/dashboard.ejs") %>
      <div class="admin-content">
        <%- include("../partials/header.ejs") %>

          <main>
            <div>
              <h1>Editar Producto <%= product.name %>
              </h1>
              <form action="/admin/editar/<%= product.id %>?_method=PUT" method="POST" style="margin-top: 5.5em"
                enctype="multipart/form-data">
                <div class="form caja-agregar">
                  Nombre:<label for="nombre-producto"><input class="input style-admin" type="text" name="name"
                      id="nombre-producto" required placeholder="Nombre del producto" value="<%= product.name %> " />
                  </label>
                  Marca:
                  <label for="marca-producto">
                    <select class="input style-admin" name="id_marca" id="marca_producto" required>
                      <% brands.forEach(brand=> { %>
                        <option value="<%- brand.id %>" <%- brand.id==product.id_marca ? "selected" : "" %>><%-
                            brand.name %>
                        </option>
                        <% }) %>
                    </select>
                    <% if (locals.errors && errors.brand) { %>
                      <small class="text-danger">
                        <%= errors.brand.msg %>
                      </small>
                      <% } %>
                  </label>

                  Descripción:<label for="descripción-producto"><input id="descripción-producto" cols="30" rows="10"
                      class="input style-admin" name="description" required placeholder="Descripción del producto"
                      value="<%= product.description %> " /></label>
                  Categoría:<label for="category-product">
                    <select class="input style-admin categorySelect" name="categoria" id="category-product">
                      <option selected hidden value="">Categorias</option>
                      <% categories.forEach(category=> { %>
                        <option value="<%- category.id %>" <%- category.id==productCategory.id ? "selected" : "" %>><%- category.name %>
                        </option>
                        <% }) %>
                    </select>
                  </label>
                  Subcategoría:<label for="subcategory-product">
                    <select class="input style-admin subcategorySelect" id="subcategory-product" name="id_subcategory">
                      <option selected hidden value="">Subcategorias</option>
                      <% productSubcategories.forEach(subcategory => { %>
                        <option value="<%- subcategory.id %>" <%- subcategory.id == productSubcategory.id ? "selected" : "" %>><%- subcategory.name %>
                        </option>
                        <% }) %>
                    </select>
                  </label>
                  Color:
                  <label for="colores-producto">
                    <select class="input style-admin" name="colour" id="colores-producto">
                      <% colours.forEach(colour=> { %>
                        <option value="<%- colour.id %>" <%- colour.id==colour_product.id_colour ? "selected" : "" %>>
                          <%- colour.name %>
                        </option>
                        <% }) %>
                    </select>
                  </label>
                  Talle:<label for="talles-producto">
                    <select class="input style-admin" name="id_talle" id="talles-producto">
                      <% talles.forEach(talle=> { %>
                        <option value="<%- talle.id %>" name="id_talle" <%- talle.id==talle_product.id_talle
                          ? "selected" : "" %>><%- talle.talle %>
                        </option>
                        <% }) %>
                    </select>
                  </label>
                  Precio:<label for="precio-producto">
                    <input id="precio-producto" class="input style-admin" type="number" name="price" required
                      placeholder="Modificar precio del producto" value="<%= product.price %>" />
                  </label>
                  Descuento:<label for="producto-discontinuo">
                    <input id="producto-discontinuo" class="input style-admin" name="discount" required
                      placeholder="Descuento" value="<%= product.discount %>" />
                  </label>
                  Imagen:<label for="image-product"><input id="image-product" class="input style-admin" type="file"
                      name="image" multiple value="<%= product.id_image %> " />
                  </label>
                  Visible:<label for="producto-visible">
                    <select class="input style-admin" name="visible" id="producto-visible" required>
                      <% if(product.visible==1) { %>
                        <option value="1" selected>Si</option>
                        <option value="0">No</option>
                        <% } else { %>
                          <option value="1">Si</option>
                          <option value="0" selected>No</option>
                          <% } %>
                    </select>
                  </label>
                  Stock:<label for="stock">
                    <input id="stock" class="input style-admin" name="stock" required placeholder="Modificar stock"
                      value="<%= product.stock %>" />
                  </label>
                </div>
                <div class="form">
                  <button type="submit" class="btn-admin style-admin">
                    EDITAR
                  </button>
                </div>
              </form>
            </div>
          </main>
      </div>
      <script src="/javascripts/adminCategories.js"></script>
  </body>

</html>