<!DOCTYPE html>
<html lang="en">
<!-- HEAD-->
<%- include("../partials/head.ejs") %>

    <body>
        <!-- dashboard admin -->
        <%- include("../partials/dashboard.ejs") %>

            <div class="admin-content">
                <%- include("../partials/header.ejs") %>

                    <main>
                        <h1>Subcategorias</h1>
                        <div style="overflow: auto" class="panel">
                            <table>
                                <thead>
                                    <tr>
                                        <th colspan="1" scope="col">#</th>
                                        <th colspan="1" scope="col">Nombre</th>
                                        <th colspan="1" scope="col">Categoria</th>
                                        <th colspan="1" scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% subcategories.forEach(subcategory=> { %>
                                        <tr>
                                            <td colspan="1" scope="col">
                                                <%- subcategory.id %>
                                            </td>
                                            <td colspan="1" scope="col">
                                                <%- subcategory.name %>
                                            </td>
                                            <td colspan="1" scope="col">
                                                <%- subcategory.categories_id %>
                                            </td>
                                            <td colspan="1" scope="col">
                                                <form>
                                                    <button style="cursor: pointer" type="submit"
                                                        class="btn-admin style-admin">
                                                        <a href="subcategories/edit/<%- subcategory.id %>?_method=PUT"
                                                            class="edit-button-products">Editar</a>
                                                    </button>
                                                </form>
                                                <form action="subcategories/delete/<%- subcategory.id %>?_method=DELETE"
                                                    method="post">
                                                    <button style="cursor: pointer" class="btn-admin style-admin"
                                                        type="submit">
                                                        Eliminar
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        <% }) %>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="4" scope="col">
                                            Total de Subcategorias:<%- subcategories.length %>
                                        </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </main>
            </div>
    </body>

</html>