<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include("partials/head.ejs") %>

  <!-- Styles -->
  <link rel="stylesheet" href="/stylesheets/registro.css" />

  <!-- Javascript -->
  <script src="/javascripts/home.js" defer></script>

  <body>
    <!------------- HEADER -------------------->
    <%- include("partials/header.ejs") %>

      <!-- --------------Dark Mode----------------- -->
      <%- include("partials/darkMode.ejs") %>
        <!-- -----------Fin Dark Mode---------------- -->

        <main id="main-dark">
          <form class="form-register" action="/users/profile/edit/<%= user.id %>?_method=PUT" method="POST"
            enctype="multipart/form-data">
            <h4>Editar perfil      <i class="fas fa-users"></i></h4>

            <% if (locals.errors && errors.name) { %>
              <small class="text-danger">
                <%= errors.name.msg %>
              </small>
              <% } %>
              <div class="controls">
                <input type="text" name="name" value="<%= user.name %>"
                  placeholder="Ingrese su Nombre" />
              </div>
                

                <% if (locals.errors && errors.last_name) { %>
                  <small class="text-danger">
                    <%= errors.last_name.msg %>
                  </small>
                  <% } %>
                  <div class="controls">
                    <input type="text" name="last_name" value="<%= user.last_name %>"
                      placeholder="Ingrese su Apellido" />
                  </div>
                    
                  <div class="controls">
                    <input type="email" name="email" value="<%= user.email %>"
                      placeholder="Ingrese su Email" />
                  </div>
                    
                  <div class="controls">
                    <input type="text" name="dni" value="<%= user.dni ? user.dni : "" %>"
                      placeholder="Ingrese su DNI" />
                  </div>
                    
                  <div class="controls">
                    <input type="tel" name="tel" value="<%= user.phone ? user.phone : "" %>"
                      placeholder="Ingrese un Telefono" />
                  </div>
                    
                  <div class="controls">
                    <input type="text" name="address" value="<%= user.address ? user.address : "" %>"
                      placeholder="Ingrese su domicilio" />
                  </div>
                    
                  <div class="controls">
                    <input type="number" name="postalcode" value="<%= user.postalcode ? user.postalcode : "" %>"
                      placeholder="Ingrese su Codigo Postal" />
                  </div>
                    
                  <div class="controls">
                    <input type="text" name="province" value="<%= user.province ? user.province : "" %>"
                      placeholder="Ingrese su Provincia" />
                  </div>
                    
                  <div class="controls">
                    <input type="text" name="city" value="<%= user.city ? user.city : "" %>"
                      placeholder="Ingrese su Ciudad" />
                  </div>
                  
                    <div class="controls">
                      <p>Cambiar foto de perfil</p>
                      <input class="controls" type="file" name="avatar" id="avatar" />
                    </div>
                    <button class="botons" type="submit"> Guardar </button>
          </form>
        </main>

        <!-------------- FOOTER ------------------------>
        <%- include("partials/footer.ejs") %>
          <!--------------FIN- FOOTER ------------------------>

  </body>

</html>