<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include("partials/head.ejs") %>

  <!-- Styles -->
  <link rel="stylesheet" href="/stylesheets/registro.css" />

  <!-- Javascript -->
  <script src="/javascripts/home.js" defer></script>

  <body>
    <!------------- HEADER -------------------->
    <%- include("partials/header.ejs") %>

      <!-- --------------Dark Mode----------------- -->
      <%- include("partials/darkMode.ejs") %>
        <!-- -----------Fin Dark Mode---------------- -->

        <main id="main-dark">
          <form class="form-register" action="/users/profile/edit/<%= user.id %>?_method=PUT" method="POST"
            enctype="multipart/form-data">
            <h4>Edita tu perfil</h4>

            <% if (locals.errors && errors.name) { %>
              <small class="text-danger">
                <%= errors.name.msg %>
              </small>
              <% } %>
                <input class="controls" type="text" name="name" value="<%= user.name %>"
                  placeholder="Ingrese su Nombre" />

                <% if (locals.errors && errors.last_name) { %>
                  <small class="text-danger">
                    <%= errors.last_name.msg %>
                  </small>
                  <% } %>
                    <input class="controls" type="text" name="last_name" value="<%= user.last_name %>"
                      placeholder="Ingrese su Apellido" />

                    <input class="controls" type="email" name="email" value="<%= user.email %>"
                      placeholder="Ingrese su Email" />

                    <input class="controls" type="text" name="dni" value="<%= user.dni ? user.dni : "" %>"
                      placeholder="Ingrese su DNI" />

                    <input class="controls" type="tel" name="tel" value="<%= user.phone ? user.phone : "" %>"
                      placeholder="Ingrese un Telefono" />

                    <input class="controls" type="text" name="address" value="<%= user.address ? user.address : "" %>"
                      placeholder="Ingrese su domicilio" />

                    <input class="controls" type="number" name="postalcode" value="<%= user.postalcode ? user.postalcode : "" %>"
                      placeholder="Ingrese su Codigo Postal" />

                    <input class="controls" type="text" name="province" value="<%= user.province ? user.province : "" %>"
                      placeholder="Ingrese su Provincia" />

                    <input class="controls" type="text" name="city" value="<%= user.city ? user.city : "" %>"
                      placeholder="Ingrese su Ciudad" />

                    <div class="controls">
                      <p>Cambiar foto de perfil</p>
                      <input class="controls" type="file" name="avatar" id="avatar" />
                    </div>
                    <button class="botons" type="submit"> Guardar </button>
          </form>
        </main>

        <!-------------- FOOTER ------------------------>
        <%- include("partials/footer.ejs") %>
          <!--------------FIN- FOOTER ------------------------>

  </body>

</html>