<!DOCTYPE html>
<html lang="es">
  <!-- HEAD-->
  <%- include("partials/head.ejs") %>

  <!-- Styles -->
  <link rel="stylesheet" href="/stylesheets/home.css" />

  <!-- Javascript -->
  <script src="/javascripts/home.js" defer></script>

  <body>
    <!-- HEADER-->
    <%- include("partials/header.ejs") %>
    
    <!-- DARK MODE-->
    <%- include("partials/darkMode.ejs") %>

    <!-- Banner ONE  -->
    <%- include("partials/banner-one") %>  
    <!-- End BAnner -->

    <main id="main-dark">
      <div class="container"></div>
     

      <!---------------- CATEGORIES---------- -->
      <div class="categories">
        <div class="small-container">
          <div class="row">
            <div class="col-3">
              <a href="#">hombre</a>
              <img src="/images/img/category-1.jpg" alt="" />
            </div>
            <div class="col-3">
              <a href="#">Mujer</a>
              <img src="/images/img/category-3.jpg" alt="" />
            </div>
            <div class="col-3">
              <a href="#">niños</a>
              <img src="/images/img/category-2.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <!-- FIN-CATEGORIAS-->

      <!-- CAROUSEL ONE-->
      <%- include("partials/carouselOne.ejs") %>
      <!----------------- FIN-CAROUSEL-ONE----------------->

      <!----------------- PRODUCT MAIN -------------------->
      <%- include("partials/productMain.ejs") %>
      <!-- FIN-PRODUCT-MAIN-->

      <!-- CAROUSEL TWO-->
      <%- include("partials/carouselTwo.ejs") %>
      <!-- FIN-CAROUSEL-TWO -->

      <!-- social media -->
      <div class="social-media">
        <i class="fab fa-twitter"></i>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram"></i>
        <i class="fas fa-envelope"></i>
      </div>
    </main>

    <!-- go to up -->
    <div class="top-container">
      <div class="top-button">
        <i class="fas fa-chevron-up"></i>
      </div>
    </div>

    <!-- FOOTER-->
    <%- include("partials/footer.ejs") %>
    <!-- FIN-FOOTER-->
  </body>
</html>
