<!DOCTYPE html>
<html lang="es">
  <%- include("partials/head.ejs") %>
  <!-- Styles -->
  <link rel="stylesheet" href="/stylesheets/login.css" />

  <!-- Javascript -->
  <script src="/javascripts/home.js" defer></script>

  <body>
    <!------------- HEADER -------------------->
    <%- include("partials/header.ejs") %>

    <!-- --------------Dark Mode----------------- -->
    <%- include("partials/darkMode.ejs") %>
    <!-- -----------Fin Dark Mode---------------- -->

    <main id="main-dark">
      <form class="form-register" action="/users/login" method="POST">
        <h4 class="titulo">Iniciar Sesión</h4>
        <input
          class="controls"
          type="email"
          name="email"
          id="correo"
          placeholder="Ingrese su Email"
        />
        <% if (locals.errors && errors.email) { %>
          <small class="text-danger"><%= errors.email.msg %> </small>
       <% } %>

        <input
          class="controls"
          type="password"
          name="password"
          id="password"
          placeholder="Ingrese su Contraseña"
          
        />
        <% if (locals.errors && errors.password) { %>
          <small class="text-danger"><%= errors.password.msg %> </small>
       <% } %>

        <% if (locals.errorMsg) { %>
                <small><%= errorMsg %> </small>
        <% } %>

        <p class="condiciones">
          <input type="checkbox" name="remember" />
          <label for="remember">¿Recordar usuario?</label>
        </p>
        <button class="botons" type="submit">Ingresar</button>

        <p class="condiciones">
          <a class="condiciones" href="http://localhost:3020/users/olvidecuenta"
            >¿Olvidaste tu contraseña?</a
          >
        </p>
      </form>
    </main>
    <!-------------- FOOTER ------------------------>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
