<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->
  <%- include("partials/head.ejs") %>

  <!-- Styles -->
  <link rel="stylesheet" href="/stylesheets/home.css" />
  <link rel="stylesheet" href="/stylesheets/perfil.css">

  <!-- Javascript -->
  <script src="/javascripts/home.js" defer></script>

  <body>
    <!-- HEADER -->
    <%- include("partials/header.ejs") %>

    <!-- DARK MODE -->
    <%- include("partials/darkMode.ejs") %>

    <!-- MAIN -->
    <main id="main-dark">
        <div class="info-user-container">
            <div class="avatar">
                <img src="/images/users/<%= user.avatar %> " alt="">
            </div>
            <div class="info-user">
                <p>Nombre: <%= user.name %> </p>
                <p>Apellido: <%= user.last_name %> </p>
                <p>Email: <%= user.email %> </p>
                <a href="">Modificar</a>
            </div>
        </div>
    </main>

    <!-- FOOTER -->
    <%- include("partials/footer.ejs") %>
  </body>
</html>
