<!DOCTYPE html>
<html lang="es">
  <!-- HEAD -->
  <%- include("partials/head.ejs") %>

  <!-- Styles -->
  <link rel="stylesheet" href="/stylesheets/registro.css" />

  <!-- Javascript -->
  <script src="/javascripts/home.js" defer></script>

  <body>
    <!------------- HEADER -------------------->
    <%- include("partials/header.ejs") %>

    <!-- --------------Dark Mode----------------- -->
    <%- include("partials/darkMode.ejs") %>
    <!-- -----------Fin Dark Mode---------------- -->

    <main id="main-dark">
      <form class="form-register" action="/users/register" method="POST" enctype="multipart/form-data">
        <h4>Formulario de Registro</h4>

        <% if (locals.errors && errors.name) { %>
          <small class="text-danger"><%= errors.name.msg %> </small>
       <% } %>
        <input
          class="controls"
          type="text"
          name="name"
          id="nombre"
          placeholder="Ingrese su Nombre"
          value="<%= locals.old && old.name %>"
        />
        
        <% if (locals.errors && errors.last_name) { %>
          <small class="text-danger"><%= errors.last_name.msg %> </small>
       <% } %>
        <input
          class="controls"
          type="text"
          name="last_name"
          id="apellido"
          placeholder="Ingrese su Apellido"
          value="<%= locals.old && old.last_name %>"
        />

        <% if (locals.errors && errors.email) { %>
          <small class="text-danger"><%= errors.email.msg %> </small>
       <% } %>
        <input
          class="controls"
          type="email"
          name="email"
          id="correo"
          placeholder="Ingrese su Correo"
          value="<%= locals.old && old.email %>"
          
        />

        <% if (locals.errors && errors.password) { %>
          <small class="text-danger"><%= errors.password.msg %> </small>
       <% } %>
        <input
          class="controls"
          type="password"
          name="password"
          id="password"
          placeholder="Ingrese su Contraseña"
          
        />

        <% if (locals.errors && errors.password2) { %>
          <small class="text-danger"><%= errors.password2.msg %> </small>
       <% } %>
        <input
          class="controls"
          type="password"
          name="password2"
          id="password_repeat"
          placeholder="Repite tu Contraseña"
        />
        
        <input
          class="controls"
          type="file"
          name="avatar"
          id="avatar"
        />
        
        <% if (locals.errors && errors.terms) { %>
          <small class="text-danger"><%= errors.terms.msg %> </small>
       <% } %>
        <p class="condiciones">
          <input type="checkbox" name="terms"  />
          <label for="terminos"
            >Estoy de acuerdo con
            <a class="condiciones" href="#">Terminos y condiciones</a></label>
        </p>

        <button class="botons"
        type="submit"
        > Registrate</button>
          
       
        <p class="condiciones">
          <a class="condiciones" href="http://localhost:3020/users/login"
            >¿Ya tengo Cuenta?</a
          >
        </p>
      </form>
    </main>

    <!-------------- FOOTER ------------------------>
    <%- include("partials/footer.ejs") %>
    <!--------------FIN- FOOTER ------------------------>

  </body>
</html>
