<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head') %>
<link rel="stylesheet" href="/stylesheets/home.css" />

<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->
	
	
	<!-- todos los productos buscados-->

<h2 class="title-products">Resultados de la búsqueda: <%= search %> </h2>
<section class="product-main">
	<% if (resultSearch.length !== 0) { %>
		<% resultSearch.forEach( product => { %>
				<article class="product">
					<div class="img-container">
						<img src="/images/<%- product.imagen %> " alt="" />
						<p><%- product.descripcion %> </p>
						<div class="rating">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
						
						<a class="btn" href="#"> ver más</a>
					</div>
				</article>
				<% }) %>	
				<% } else { %>
					<div class="">
						<h2 class="title-products" style="color: tomato;">No hay productos que coincidan con esa búsqueda</h2>
					</div>
				<% } %>
	</section>
	
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>