<!DOCTYPE html>
<html lang="en">
<!-- HEAD-->
<%- include("../partials/head.ejs") %>

    <body>
        <!-- dashboard admin -->
        <%- include("../partials/dashboard.ejs") %>

            <div class="admin-content">
                <%- include("../partials/header.ejs") %>

                    <main>
                        <h1>Categorias</h1>
                        <div style="overflow: auto" class="panel">
                            <table>
                                <thead>
                                    <tr>
                                        <th colspan="1" scope="col">#</th>
                                        <th colspan="2" scope="col">Nombre</th>
                                        <th colspan="2" scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% brands.forEach(brand => { %>
                                    <tr>
                                        <td colspan="1" scope="col">
                                            <%- brand.id %>
                                        </td>
                                        <td colspan="2" scope="col">
                                            <%- brand.name %>
                                        </td>
                                        <td colspan="3" scope="col">
                                        <form>
                                            <button style="cursor: pointer" type="submit" class="btn-admin style-admin">
                                                <a href="brands/edit/<%-brand.id %>?_method=PUT"
                                                    class="edit-button-products">Editar</a>
                                            </button>
                                        </form>
                                        <form action="brands/delete/<%-brand.id %>?_method=DELETE" method="post">
                                            <button style="cursor: pointer" class="btn-admin style-admin" type="submit">
                                                Eliminar
                                            </button>
                                        </form>
                                        </td>
                                    </tr>
                                    <% }) %> 
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="5" scope="col">
                                            Total de Categorias:<%- brands.length %>
                                        </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </main>
            </div>
    </body>

</html>