<!DOCTYPE html>
<html lang="es">
<!-- HEAD-->
<%- include("partials/head.ejs") %>
  <body>
    <input type="checkbox" id="nav-toggle-admin" />
    <div class="sidebar-admin">
      <div class="sidebar-admin-principal">
        <h2>
          <a href="/">
            <img class="icons8-casa" src="/images/admin/icons8-casa.gif" alt="" />
          </a>
          <a href="admin" class="active">
            <span>Administrador
              <i class="las la-times"></i>
            </span>
          </a>
        </h2>
      </div>
      <!-- dashboard admin -->
      <div class="sidebar-admin-menu">
        <ul>
          <li>
            <a href="admin/panelProductos" class="active"><span class="las la-home"></span> <span>Panel de
                Productos</span>
            </a>
          </li>
          <li>
            <a href="admin/agregar"><span class="las la-home"></span> <span>Agregar Producto</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="las la-history"></span> <span>Clientes</span></a>
          </li>
          <li>
            <a href="/"><span class="las la-user"></span> <span>Salir</span></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="admin-content">
      <%-include("partials/header.ejs")%>
        <h2 class="title-products">Resultados de la búsqueda: <%= search %>
        </h2>
        <section class="product-main">
          <% if (product.length==0) { %>
            <div class="">
              <h2 class="title-products" style="color: tomato;">No hay productos que coincidan con esa búsqueda</h2>
            </div>
            <% } else { %>
              <% product.forEach( product=> { %>
                <article class="product">
                  <div class="img-container">
                    <img src="/images/<%- product.imagen %> " alt="" />
                    <p>
                      <%- product.descripcion %>
                    </p>
                    <a class="btn" href="#"> ver más</a>
                  </div>
                </article>
                <% }) %>
                  <% } %>
        </section>
    </div>
  </body>
</html>